.gpt3__feature-container__feature{
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    font-family: var(--font-family);
}

.gpt3__features-container__feature-tile{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.gpt3__features-container__feature-tile h1{
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.gpt3__features-container__feature-tile div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.gpt3__feature-container__feature-text{
    flex: 1;
    display: flex;
    max-width: 350px;
}

.gpt3__feature-container__feature-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}