.gpt3__features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3__features-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
    margin-top: 11rem;
}
.gpt3__features-heading button{
    padding: 0.5rem 1rem;
    color: rgb(98, 184, 0);
    font-weight: 500;
    font-size: 15px;
    border: 0;
    outline: 9px;
    background: #F0FFF0;
    font-family: var(--font-family);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.gpt3__features-container p{
    display: flex;
}

@media screen and (max-width: 1050px) {
    .gpt3__features {
        flex-direction: column;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}